.navigation-primary #menu-footer-menu {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;}
.navigation-primary #menu-footer-menu li {padding: 2%;}
.navigation-primary #menu-footer-menu li.extra {padding: 0;}
footer .navigation-container {margin: 36px 0 25px;}
.no-js #menu-primary-menu{display:none; }
@media (min-width:1025px){
header .navigation-container{
  display:inline-block;
  vertical-align: middle;
  width: calc(100% - 230px);
  margin-left: 20px;}
.navigation-primary #menu-primary-menu {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;}
.navigation-primary #menu-primary-menu > li{display:inline-block;}
.navigation-primary #menu-footer-menu li {padding: 1.4vw;}
footer .navigation-primary #menu-footer-menu li {padding: 0 1.4vw;}
.navigation-primary li a{font-size:15px;font-weight: 600;position:relative;display:inline-block;font-family:'Montserrat';color:#A3A3A3;padding: 30px 0;}
footer .navigation-primary li a {padding: 0;}
.navigation-primary li.orange a {color:#F07558;}
.navigation-primary li.orange a:after {content: ' >';}
.navigation-primary li:last-child{margin-right:0px;}
.navigation-primary li:hover a{color:#2DA4E3;}
.navigation-primary li:hover ul.sub-menu a{color:#2DA4E3;}
.navigation-primary .sub-menu li:hover, .navigation-primary .sub-menu li a:hover{background:transparent;filter:none;}
.navigation-primary .sub-menu li a{font-size:14px;margin:0px;padding:0;position:relative;display:inline-block;min-width:200px;border-left:0px;text-transform:initial;text-align:left;}
.nav-menu{position:relative;}
ul.nav-menu li:hover > ul,.nav-menu ul li:hover > ul,ul.nav-menu .focus > ul,.nav-menu .focus > ul{clip:inherit;overflow:inherit;height:inherit;width:inherit;visibility:visible;opacity:1;border-top:0px solid transparent;}
.nav-menu .sub-menu,.nav-menu .children{z-index:9997;height:1px;width:1px;overflow:hidden;clip:rect(1px, 1px, 1px, 1px);}
nav .nav-menu .sub-menu ul.sub-menu{display:block;top:0;left:100%;}
nav.navigation-primary li.current-menu-item > a, .navigation-primary li:hover ul.sub-menu li.current-menu-item a{color:#2A3A90;}
.nav-menu .sub-menu,.nav-menu .children{background-color:#fff;border-top:1px solid #2DA4E3;overflow:hidden;padding:0;position:absolute;height:0;z-index:9997;opacity:0;visibility:hidden;}
ul#menu-primary-menu .sub-menu li a{padding:12px 20px;font-weight:normal;font-size:15px;font-family:'Montserrat', arial, sans-serif;width: 100%;}
ul#menu-primary-menu .sub-menu li a:hover{background: #2A3A90; color:#fff;}
.nav-menu .sub-menu{box-shadow: 0px 15px 15px rgb(0 0 0 / 23%);}
.nav-menu .sub-menu li,.nav-menu .children li.menu-item{border-top:1px solid #2DA4E3;}
}
@media (min-width:1390px){
  header .navigation-container{margin-left: 50px;width: calc(100% - 360px);}
  .navigation-primary li a {padding: 40px 0;}
  .navigation-primary #menu-footer-menu li {padding: 0%;}
  .navigation-primary #menu-footer-menu {-webkit-justify-content: space-between;justify-content: space-between;}
}

.slicknav_menu { display:none; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 0.188em; }
.slicknav_menu { *zoom: 1; }
.slicknav_menu .slicknav_menutxt {display: block;line-height: 1;float: left;color: #fff;font-weight: bold;font-size: 22px;}
.slicknav_menu .slicknav_icon {float: left;margin: 0.388em 0 0 0.438em; }
.slicknav_menu .slicknav_no-text { margin: 0; }
.slicknav_menu .slicknav_icon-bar {
	display: block;
	width: 1.125em;
	height: 0.125em;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); }
.slicknav_menu:before {content: " ";display: table; }
.slicknav_menu:after {content: " ";display: table;clear: both; }
.slicknav_nav { clear: both; }
.slicknav_nav ul, .slicknav_nav li { display: block; }
.slicknav_nav .slicknav_arrow {
	font-size: 1.2em;
	margin: 0;
	padding: 3px 9px;
	background-color: rgba(0,0,0,0.3);
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%); }
a.slicknav_item.slicknav_row, ul.slicknav_nav .menu-item > a {max-width:100%;width: 100%; }
a.slicknav_item.slicknav_row {position: relative;}
.slicknav_menu ul li.searchicon{ margin: 10px; }
.slicknav_menu ul li.searchicon input[type="text"]{ height: 40px; width: 200px; }
.slicknav_nav li.menu-item{ border-top: 1px solid rgba(255,255,255,0.2); }
.slicknav_nav li.menu-item:first-child {border-top: 0px solid;}
.slicknav_nav .slicknav_item { cursor: pointer; }
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a  { display: inline; }
.slicknav_nav .slicknav_row, .slicknav_nav a { display: block; }
.slicknav_menu {font-size: 16px;box-sizing: border-box;background: #2DA4E3;color: #fff;text-align: center; }
.slicknav_menu ul li{ text-align: left;}
.slicknav_menu * { box-sizing: border-box; }
.slicknav_menu .slicknav_icon-bar { background-color: #fff; }
.slicknav_btn {
	margin: 5px 0px 6px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px; }
.slicknav_nav ul {overflow: hidden;margin: 0 0 0 20px; }
.slicknav_nav a:hover {background: #2DA4E3;color: #fff; }
.slicknav_nav .sub-menu a:hover{ background: #2DA4E3; }
.slicknav_nav .slicknav_row:hover a{ color: #fff; }
.slicknav_nav a {
	padding: 15px 10px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;}
.slicknav_nav .sub-menu a {font-size: 17px;}
.slicknav_nav .slicknav_txtnode {  margin-left: 15px; }
.slicknav_nav .slicknav_item a, .slicknav_nav .slicknav_parent-link a  { padding: 0; margin: 0; }
.slicknav_nav .learn-more {background-color: #F07558;}
.slicknav_btn {
	position: absolute;
	right: 5px;
  top: 0px;
	padding: 0.438em 0.625em 0.438em 0.625em;
	line-height: 1.125em;
	cursor: pointer;
	background: #2DA4E3;
	border: 0px;
  z-index: 99;}
.slicknav_btn.slicknav_open {top: 7px;}
.slicknav_btn.slicknav_collapsed .slicknav_icon-bar {
	-webkit-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;}
.slicknav_open .slicknav_icon-bar:nth-child(1) {
	margin-top: 5px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;}
.slicknav_open .slicknav_icon-bar:nth-child(2) {
	opacity: 0;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;}
.slicknav_open .slicknav_icon-bar:nth-child(3) {
	margin-top: -7px;
	margin-bottom: 7px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: transform .4s;
	-o-transition: transform .4s;
	transition: transform .4s;}

@media screen and (max-width: 1025px) {
	.js #menu-primary-menu, .slicknav_menu, #menu-primary-menu{display:none; }
	.js .slicknav_menu { display:block;}
}

@media (max-width: 767px) {
  .navigation-primary #menu-footer-menu li.extra {flex: 1 0 100%;}
  .navigation-primary #menu-footer-menu li.extra a.facebook {display: inline-block;}
 }
